@model IEnumerable<Message>
@{
    // Załóżmy, że friendId przekazujemy poprzez ViewBag (możesz to zmienić według potrzeb)
    string friendId = ViewBag.FriendId;
}
<div class="chat-window" data-friend-id="@friendId">
    <div class="chat-messages" style="max-height: 400px; overflow-y: auto;">
        @foreach (var message in Model)
        {
            <p>
                @if (message.SenderId == friendId)
                {
                    <strong> @message.Sender.FirstName : </strong>
                } else {
                    <strong> Me: </strong>
                }
                @message.Content
            </p>
        }
    </div>
    <div class="chat-input mt-2">
        <input id="message" type="text" maxlength="200" class="form-control" placeholder="Enter your message..." />
        <div><span id="charCount">200 characters left</span></div>
        <button id="sendMessageButton" type="button" class="btn btn-success mt-2">Send</button>
    </div>
</div>