@model List<ApplicationUser>

<h2>Your Friends</h2>
<ul>
	@foreach(var friend in Model)
	{
		<li>@friend.UserName</li>
		<a href="@Url.Action("DeleteFriend", "Friend", new { friendId = friend.Id })">Delete friend</a>
	}
</ul>